


.hero-image {
  background-image: url("../img/banner.jpg");
  height: 100%;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 position: relative;
}
.hero-text {
  text-align: center;
  ;
    top: 50%;
    left: 50%;
font-weight: bold;
 ;
}



body {
  background-image: url("../img/bgphoto.jpg");
  background-repeat: no-repeat;
}
.my-photo {
  margin: 12px;
  padding: 2px;
}
.blockquote{
  font-style: italic;
  background-color:  #ffffe6;
}
.nav {
  font-size: 25px;
}
.text {
  font-weight: bold;
  text-align: center;
}
